/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-image: var(--background-image);
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--main-background-color);
  font-family: var(--main-font), sans-serif;
  font-variation-settings: 'wght' var(--main-font-weight);
  font-size: 18px;
  color: var(--accent-color);
}

.header {
  width: clamp(375px, 70vw, 700px);
  margin: 102px auto;
  border: 2px solid var(--accent-color);
  background-color: var(--main-background-color);
  font-family: var(--accent-font),  fantasy;
  text-align: center;
  text-transform: uppercase;
}

.header__title-decoration {
  display: block;
  margin: 120px auto 20px auto;
  font-size: clamp(3.063rem, 2.71rem + 1.502vw, 4.063rem);
}

@media (min-width: 1440px) {
  .header__title-decoration {
    margin-block-start: 136px;
  }
}

.header__title {
  margin-block-end: 25px;
  font-size: clamp(0.875rem, 0.677rem + 0.845vw, 1.438rem);
}

.header__theme-menu {
  width: 84px;
  margin: 0 auto;
  margin-block-end: 22px;
  font-size: 14px;
}

.theme-menu__list {
  margin-inline-start: 7px;
  list-style: none;
  text-align: left;
}

.theme-menu__item {
  margin-block-end: 12px;
}

.theme-menu__item:last-child {
  margin-block-end: 0;
}

.theme-menu__button {
  padding: 0;
  background: none;
  border: none;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  position: relative;
}

.theme-menu__button:hover {
  cursor: pointer;
  opacity: 0.6;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: "▶";
  width: 16px;
  height: 13px;
  position: absolute;
  left: -13px;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button:focus-visible {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button::after {
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0px;
  content: "";
  width: 100%;
  height: 2px;
  background-color: var(--accent-color);
  transform-origin: left;
  scale: 0;
  transition: scale 0.3s ease 0.01s;
}

.theme-menu__button:focus-visible::after {
  scale: 1;
}

.main {
  text-align: center;
}

.card {
  display: grid;
  width: clamp(375px, 70vw, 700px);
  max-width: 696px;
  margin: 0 auto;
  margin-block-end: 50px;
  text-align: left;
  border: 2px solid var(--accent-color);
  background-color: var(--main-background-color);
}

.card__title {
  padding: 4px 10px 6px 10px;
  font-size: 18px;
  font-variation-settings: "wght" var(--accent-font-weight);
  line-height: 21.78px;
  text-align: left;
}

.card__image-wrapper {
  position: relative;
}

.card__image-text {
  position: absolute;
  right: clamp(10px, 1.5vw, 22px);
  top: 25px;
  font-family: var(--accent-font),  fantasy;
  font-size: 14px;
  mix-blend-mode: hard-light;
  opacity: 0.5;
  text-transform: uppercase;
  text-shadow: 1px var(--main-background-color);
}

@supports (-webkit-text-stroke: 1px) {
  .card__image-text {
    -webkit-text-stroke: 1px var(--main-background-color);
    text-shadow: none;
  }
}

.card__image {
  width: 100%;
  height: 100%;
  border: 1px solid var(--accent-color);
  border-right: none;
  border-left: none;
  object-fit: cover;
  object-position: center center;
}

.card__text:first-of-type {
  margin-block-start: 25px;
}

.card__text {
  margin: 0 26px 27px 25px;
  font-variation-settings: "wght" var(--main-font-weight);
  line-height: 21px;
}

.card__text:last-of-type {
  margin-block-end: 23px;
}

@media (min-width: 376px) {
  .card__text:last-of-type {
    margin-block-end: 27px;
  }
}

.button {
  font-family: var(--accent-font), fantasy;
  font-size: 14px;
  font-weight: var(--main-font-weight);
  line-height: 12.6px;
  border: 2px solid var(--accent-color);
  background: transparent;
  position: relative;
}

.button:hover {
  cursor: pointer;
}

.button:focus {
  outline: none;
  box-shadow: 2px 2px var(--accent-color);
}

.button:before {
  content: "";
  display: block;
  width: 0%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--accent-color);
  transition: width 0.5s ease-in-out;
}

.button:hover:before {
  width: 100%;
}

.card__icon-button {
  display: flex;
  padding: 0;
  background: transparent;
  border: none;
  transition: border 0.3s ease;
}

.card__icon-button:hover {
  cursor: pointer;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--accent-color);
}

.card__like-button-wrapper {
  display: grid;
  grid-template-columns: repeat(2, auto);
  align-items: center;
  justify-self: end;
  margin-inline-end: 25px;
  margin-block-end: 25px;
} 

.card__like-button {
  display: block;
  width: 130px;
  height: 38px;
  position: relative;
  margin-inline-start: 4px;
}

.button__text {
  font-family: var(--accent-font), fantasy;
  font-size: 14px;
  line-height: 12.6px;
  position: relative;
  mix-blend-mode: difference;
  color: var(--accent-font-color);
  transition: color 0.3s ease;
}

.floppy-icon {
  color: var(--accent-color);
}

.save-button {
  width: 100%;
  max-width: 335px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  align-items: center;
  margin: 0 auto 100px auto;
  padding: 15px 18px 15px 18px;
  background-color: var(--main-background-color);
  text-align: center;
}

@media (max-width: 376px) {
  .save-button {
    width: 306px;
    min-width: 306px;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 8px;
  }

  .save-floppy-icon {
    width: 28px;
    height: 28px;
  }
}

dialog {
  position: fixed;
  inset: 0;
  width: clamp(341px, 90%, 357px);
  padding: 30px 40px 30px 40px;
  font-family: var(--accent-font), fantasy;
  font-size: 14px;
  text-transform: uppercase;
  background-color: var(--main-background-color);
  color: var(--accent-color);
}

dialog[open] {
  display: grid;
  grid-template-columns: repeat(2, auto);
  row-gap: 30px;
  column-gap: 20px;
  align-items: center;
}

::backdrop {
  background-color: black;
  opacity: 0.75;
} 

.dialog-button {
  width: 100%;
  height: 38px;
  padding: 9px 17px;
  grid-column: span 2;
}

.dialog__text {
  line-height: 21px;
}

.save-floppy-icon {
  color: var(--accent-font-color);
  mix-blend-mode: difference;
}

.dialog-floppy-icon {
  scale: 1.4;
}

.brighter-image {
  filter: brightness(140%);
}

.contrast-image {
  filter: contrast(150%);
}

.darker-image {
  filter: brightness(50%);
}

.less-contrast-image {
  filter: contrast(50%);
}

.saturated-image {
  filter: saturate(150%);
};

.sepia-image {
  filter: sepia(80%);
}

.brighter-sepia-image {
  filter: brightness(150%) sepia(80%);
}


